.section-5 {
  padding-top: 3rem;
  padding-bottom: 4rem;

  .cart {
    padding: 1.5rem 1.5rem;
  }
  .text-h1 {
    font-family: $sans;
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 60px;
    color: $dark_blue;
  }
  .text-h2 {
    font-family: $sans;
    font-style: normal;
    font-weight: 600;
    font-size: 22px;
    line-height: 30px;
    color: $dark_blue;
  }
  .text-paragraph {
    font-family: $sans;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 21px;
  }
  .btn-know-more {
    background: $light_blue;
    border-radius: 4px;
    font-family: $sans;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 19px;
    color: $background;
  }
}
