.section-4 {
  background: #5d30db;
  padding: 0 137px;

  .progress-google {
    background: transparent;
    width: 100%;
    height: 100%;
    position: relative;
    &::before {
      content: '';
      position: absolute;
      width: 82%;
      height: 0%;
      top: 35%;
      left: 0;
      position: absolute;
      border-top: 8px dotted white;
      transform: rotate(-20deg);
    }
    @media only screen and (max-width: 900px) {
      &::before {
        content: '';
        position: absolute;
        width: 75%;
        height: 0%;
        top: 18%;
        left: 0;
        position: absolute;
        border-top: 6px dotted white;
        transform: rotate(-35deg);
      }
    }
  }

  .progress-google > div:nth-child(1) {
    width: 100px;
    height: 48px;
    background: #333366;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -58px;
      left: 46%;
      width: 15px;
      height: 15px;
      background: orange;
      border-radius: 50%;
      @media only screen and (max-width: 900px) {
        top: -86px;
        left: 52%;
      }
    }
    &::before {
      content: 'Now';
      position: absolute;
      top: -120px;
      left: 20%;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 122.5%;
      color: #e4dbff;
      @media only screen and (max-width: 900px) {
        font-size: 14px;
      }
    }
  }
  .progress-google div:nth-child(2) {
    width: 109px;
    height: 94px;
    position: relative;
    background: #33337b;
    &::after {
      content: '';
      position: absolute;
      top: -60px;
      left: 46%;
      width: 15px;
      height: 15px;
      background: orange;
      border-radius: 50%;
      @media only screen and (max-width: 900px) {
        top: -76px;
        left: 40%;
      }
    }
    &::before {
      content: 'Good';
      position: absolute;
      top: -120px;
      left: 20%;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 122.5%;
      color: #e4dbff;
      @media only screen and (max-width: 900px) {
        font-size: 14px;
      }
    }
  }
  .progress-google div:nth-child(3) {
    width: 109px;
    height: 138px;
    background: #383897;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -66px;
      left: 43%;
      width: 15px;
      height: 15px;
      background: orange;
      border-radius: 50%;
      @media only screen and (max-width: 900px) {
        top: -68px;
        left: 25%;
      }
    }
    &::before {
      content: 'Just done';
      position: absolute;
      top: -120px;
      left: 20%;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 122.5%;
      color: #e4dbff;
      @media only screen and (max-width: 900px) {
        top: -128;
        left: 20%;
        font-size: 14px;
      }
    }
  }
  .progress-google div:nth-child(4) {
    width: 109px;
    height: 176px;
    background: #292996;
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: -73px;
      left: 30%;
      width: 15px;
      height: 15px;
      background: orange;
      border-radius: 50%;
      @media only screen and (max-width: 900px) {
        top: -78px;
        left: 35%;
      }
    }
    &::before {
      content: 'Already';
      position: absolute;
      top: -120px;
      left: 20%;
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      line-height: 122.5%;
      color: #e4dbff;
      @media only screen and (max-width: 900px) {
        font-size: 14px;
        left: 0;
      }
    }
  }
  .progress-google div:nth-child(5) {
    width: 115px;
    height: 230px;
    background: #202084;
    position: relative;
    &::after {
      position: absolute;
      content: '';
      top: -50%;
      left: 0;
      width: 100%;
      height: 50%;
      background: url('~assets/images/google_head.png');
      background-position: center;
      background-size: contain;
      background-repeat: no-repeat;
      @media only screen and (max-width: 900px) {
        top: -45%;
      }
    }
  }

  .row .col-md-4 {
    color: $white;
  }
  .text-h1 {
    font-family: $sans;
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 122.5%;
    color: #ffc700;
  }
  .text-h2 {
    font-family: $sans;
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 122.5%;
    color: $white;
  }
  .text-paragraph {
    font-family: $sans;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 122.5%;
    color: $white;
  }
  .btn-quiz {
    background: $orange;
    border-radius: 3px;
    height: 45px;
    color: $white;
    outline: none;
    &:hover {
      color: $orange;
      background: $white;
      transition: all 0.2s linear;
      transform: translateY(-3px);
    }
    &:active {
      transform: translateY(0px);
    }
  }
  .google-image {
    width: 204px;
    height: 214px;
  }
}

@media only screen and (max-width: 900px) {
  .section-4 {
    padding: 0 1rem;
    .row .col-md-4 {
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .btn-quiz {
      width: 70%;
      margin: auto;
    }
    .google-image {
      width: 100px !important;
      height: 100px !important;
    }
    .progress-google > div:nth-child(1) {
      width: 60px;
      height: 48px;
      background: #333366;
    }
    .progress-google div:nth-child(2) {
      width: 60px;
      height: 94px;
      background: #33337b;
    }
    .progress-google div:nth-child(3) {
      width: 60px;
      height: 138px;
      background: #383897;
    }
    .progress-google div:nth-child(4) {
      width: 60px;
      height: 176px;
      background: #292996;
    }
    .progress-google div:nth-child(5) {
      width: 90px;
      height: 230px;
      background: #202084;
    }
  }
}

@media only screen and (max-width: 500px) {
  .section-4 {
    padding: 0 0;

    .google-image {
      width: 60px !important;
      height: 60px !important;
    }

    .progress-google > div:nth-child(1) {
      width: 60px;
      height: 48px;
      background: #333366;
    }
    .progress-google div:nth-child(2) {
      width: 60px;
      height: 94px;
      background: #33337b;
    }
    .progress-google div:nth-child(3) {
      width: 60px;
      height: 138px;
      background: #383897;
    }
    .progress-google div:nth-child(4) {
      width: 60px;
      height: 176px;
      background: #292996;
    }
    .progress-google div:nth-child(5) {
      width: 90px;
      height: 230px;
      background: #202084;
    }
  }
}
