.section-1-wrapper {
  position: relative;
  padding: $custom-size;

  &::before {
    position: absolute;
    content: '';
    top: -5%;
    right: -5%;
    width: 23%;
    height: 30%;
    background: url('~assets/images/shape1.png');
    background-repeat: no-repeat;
  }
  &::after {
    position: absolute;
    content: '';
    top: -8%;
    left: 0%;
    width: 20%;
    height: 40%;
    background: url('~assets/images/shape.png');
    background-repeat: no-repeat;
  }

  .text-h1 {
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 64px;
    line-height: 100%;
    color: #333366;

    @media only screen and (max-width: 61.9em) {
      font-size: 55px;
      margin-top: 1rem;
    }
    @media only screen and (min-width: 37.5em) and (max-width: 45.6em) {
      font-size: 45px;
    }
    @media only screen and (max-width: 37.5em) {
      font-size: 35px;
    }
  }
  .man-image {
    z-index: 10;
    transform: translate(-8%, -10%);
    @media only screen and (max-width: 600px) {
      transform: translate(-38%, 12%) scale(0.9);
    }
  }

  .content {
    position: relative;
    z-index: 10;
    margin-top: 6%;
    margin-left: 4%;
    display: flex;
    flex-direction: column;
    padding: 2rem 2rem;
    @media only screen and (max-width: 600px) {
      margin: 0;
      padding: 1rem 1rem;
    }
  }
  .content::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 304px;
    height: 261px;
    background: #ff9900;
    border-radius: 4px 80px 4px 25px;
    z-index: -1;
    @media only screen and (max-width: 22.5em) {
      width: 250px;
    }
  }
  .content::before {
    content: '';
    position: absolute;
    top: 4%;
    left: -6%;
    width: 304px;
    height: 261px;
    background: transparent;
    border: 3px solid #333366;
    border-radius: 4px 80px 4px 25px;
    z-index: -1;
    @media only screen and (max-width: 22.5em) {
      width: 250px;
    }
  }
  .content-title {
    font-family: Oswald;
    font-style: normal;
    font-weight: bold;
    font-size: 43.7296px;
    line-height: 104.5%;
    color: #ffffff;
    margin-bottom: 1rem;
    @media only screen and (max-width: 600px) {
      font-size: 24px;
    }
    // @media only screen and (max-width: 61.9em) {
    //   font-size: 40px;
    // }
    // @media only screen and (min-width: 37.5em) and (max-width: 45.6em) {
    //   font-size: 35px;
    // }
    // @media only screen and (max-width: 37.5em) {
    //   font-size: 30px;
    // }
  }
  .content-context {
    font-family: Open Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 107.5%;
    color: #333366;
  }
}
