@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&family=Londrina+Shadow&display=swap");
.progress {
  width: 100px;
  height: 100px;
  line-height: 100px;
  background: none;
  margin: 0 auto;
  box-shadow: none;
  position: relative;
}

.progress:after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 8px solid #efefef;
  position: absolute;
  top: 0;
  left: 0;
}

.progress > span {
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  top: 0;
  z-index: 1;
}

.progress .progress-left {
  left: 0;
}

.progress .progress-bar {
  width: 100%;
  height: 100%;
  background: none;
  border-width: 8px;
  border-style: solid;
  position: absolute;
  top: 0;
  border-color: #4FA0E9;
}

.progress .progress-left .progress-bar {
  left: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  border-left: 0;
  transform-origin: center left;
}

.progress .progress-right {
  right: 0;
}

.progress .progress-right .progress-bar {
  left: -100%;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-right: 0;
  transform-origin: center right;
}

.progress .progress-value {
  display: flex;
  border-radius: 50%;
  font-size: 1rem;
  text-align: center;
  line-height: 20px;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  font-weight: 300;
}

.progress .progress-value span {
  font-size: 12px;
  text-transform: uppercase;
}

/* This for loop creates the necessary css animation names 
Due to the split circle of progress-left and progress right, we must use the animations on each side. 
*/
.progress[data-percentage="1"] .progress-right .progress-bar {
  animation: loading-1 0.5s linear forwards;
}

.progress[data-percentage="1"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="2"] .progress-right .progress-bar {
  animation: loading-2 0.5s linear forwards;
}

.progress[data-percentage="2"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="3"] .progress-right .progress-bar {
  animation: loading-3 0.5s linear forwards;
}

.progress[data-percentage="3"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="4"] .progress-right .progress-bar {
  animation: loading-4 0.5s linear forwards;
}

.progress[data-percentage="4"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="5"] .progress-right .progress-bar {
  animation: loading-5 0.5s linear forwards;
}

.progress[data-percentage="5"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="6"] .progress-right .progress-bar {
  animation: loading-6 0.5s linear forwards;
}

.progress[data-percentage="6"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="7"] .progress-right .progress-bar {
  animation: loading-7 0.5s linear forwards;
}

.progress[data-percentage="7"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="8"] .progress-right .progress-bar {
  animation: loading-8 0.5s linear forwards;
}

.progress[data-percentage="8"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="9"] .progress-right .progress-bar {
  animation: loading-9 0.5s linear forwards;
}

.progress[data-percentage="9"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="10"] .progress-right .progress-bar {
  animation: loading-10 0.5s linear forwards;
}

.progress[data-percentage="10"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="11"] .progress-right .progress-bar {
  animation: loading-11 0.5s linear forwards;
}

.progress[data-percentage="11"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="12"] .progress-right .progress-bar {
  animation: loading-12 0.5s linear forwards;
}

.progress[data-percentage="12"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="13"] .progress-right .progress-bar {
  animation: loading-13 0.5s linear forwards;
}

.progress[data-percentage="13"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="14"] .progress-right .progress-bar {
  animation: loading-14 0.5s linear forwards;
}

.progress[data-percentage="14"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="15"] .progress-right .progress-bar {
  animation: loading-15 0.5s linear forwards;
}

.progress[data-percentage="15"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="16"] .progress-right .progress-bar {
  animation: loading-16 0.5s linear forwards;
}

.progress[data-percentage="16"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="17"] .progress-right .progress-bar {
  animation: loading-17 0.5s linear forwards;
}

.progress[data-percentage="17"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="18"] .progress-right .progress-bar {
  animation: loading-18 0.5s linear forwards;
}

.progress[data-percentage="18"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="19"] .progress-right .progress-bar {
  animation: loading-19 0.5s linear forwards;
}

.progress[data-percentage="19"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="20"] .progress-right .progress-bar {
  animation: loading-20 0.5s linear forwards;
}

.progress[data-percentage="20"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="21"] .progress-right .progress-bar {
  animation: loading-21 0.5s linear forwards;
}

.progress[data-percentage="21"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="22"] .progress-right .progress-bar {
  animation: loading-22 0.5s linear forwards;
}

.progress[data-percentage="22"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="23"] .progress-right .progress-bar {
  animation: loading-23 0.5s linear forwards;
}

.progress[data-percentage="23"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="24"] .progress-right .progress-bar {
  animation: loading-24 0.5s linear forwards;
}

.progress[data-percentage="24"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="25"] .progress-right .progress-bar {
  animation: loading-25 0.5s linear forwards;
}

.progress[data-percentage="25"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="26"] .progress-right .progress-bar {
  animation: loading-26 0.5s linear forwards;
}

.progress[data-percentage="26"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="27"] .progress-right .progress-bar {
  animation: loading-27 0.5s linear forwards;
}

.progress[data-percentage="27"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="28"] .progress-right .progress-bar {
  animation: loading-28 0.5s linear forwards;
}

.progress[data-percentage="28"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="29"] .progress-right .progress-bar {
  animation: loading-29 0.5s linear forwards;
}

.progress[data-percentage="29"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="30"] .progress-right .progress-bar {
  animation: loading-30 0.5s linear forwards;
}

.progress[data-percentage="30"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="31"] .progress-right .progress-bar {
  animation: loading-31 0.5s linear forwards;
}

.progress[data-percentage="31"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="32"] .progress-right .progress-bar {
  animation: loading-32 0.5s linear forwards;
}

.progress[data-percentage="32"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="33"] .progress-right .progress-bar {
  animation: loading-33 0.5s linear forwards;
}

.progress[data-percentage="33"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="34"] .progress-right .progress-bar {
  animation: loading-34 0.5s linear forwards;
}

.progress[data-percentage="34"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="35"] .progress-right .progress-bar {
  animation: loading-35 0.5s linear forwards;
}

.progress[data-percentage="35"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="36"] .progress-right .progress-bar {
  animation: loading-36 0.5s linear forwards;
}

.progress[data-percentage="36"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="37"] .progress-right .progress-bar {
  animation: loading-37 0.5s linear forwards;
}

.progress[data-percentage="37"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="38"] .progress-right .progress-bar {
  animation: loading-38 0.5s linear forwards;
}

.progress[data-percentage="38"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="39"] .progress-right .progress-bar {
  animation: loading-39 0.5s linear forwards;
}

.progress[data-percentage="39"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="40"] .progress-right .progress-bar {
  animation: loading-40 0.5s linear forwards;
}

.progress[data-percentage="40"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="41"] .progress-right .progress-bar {
  animation: loading-41 0.5s linear forwards;
}

.progress[data-percentage="41"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="42"] .progress-right .progress-bar {
  animation: loading-42 0.5s linear forwards;
}

.progress[data-percentage="42"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="43"] .progress-right .progress-bar {
  animation: loading-43 0.5s linear forwards;
}

.progress[data-percentage="43"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="44"] .progress-right .progress-bar {
  animation: loading-44 0.5s linear forwards;
}

.progress[data-percentage="44"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="45"] .progress-right .progress-bar {
  animation: loading-45 0.5s linear forwards;
}

.progress[data-percentage="45"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="46"] .progress-right .progress-bar {
  animation: loading-46 0.5s linear forwards;
}

.progress[data-percentage="46"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="47"] .progress-right .progress-bar {
  animation: loading-47 0.5s linear forwards;
}

.progress[data-percentage="47"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="48"] .progress-right .progress-bar {
  animation: loading-48 0.5s linear forwards;
}

.progress[data-percentage="48"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="49"] .progress-right .progress-bar {
  animation: loading-49 0.5s linear forwards;
}

.progress[data-percentage="49"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="50"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="50"] .progress-left .progress-bar {
  animation: 0;
}

.progress[data-percentage="51"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="51"] .progress-left .progress-bar {
  animation: loading-1 0.5s linear forwards 0.5s;
}

.progress[data-percentage="52"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="52"] .progress-left .progress-bar {
  animation: loading-2 0.5s linear forwards 0.5s;
}

.progress[data-percentage="53"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="53"] .progress-left .progress-bar {
  animation: loading-3 0.5s linear forwards 0.5s;
}

.progress[data-percentage="54"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="54"] .progress-left .progress-bar {
  animation: loading-4 0.5s linear forwards 0.5s;
}

.progress[data-percentage="55"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="55"] .progress-left .progress-bar {
  animation: loading-5 0.5s linear forwards 0.5s;
}

.progress[data-percentage="56"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="56"] .progress-left .progress-bar {
  animation: loading-6 0.5s linear forwards 0.5s;
}

.progress[data-percentage="57"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="57"] .progress-left .progress-bar {
  animation: loading-7 0.5s linear forwards 0.5s;
}

.progress[data-percentage="58"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="58"] .progress-left .progress-bar {
  animation: loading-8 0.5s linear forwards 0.5s;
}

.progress[data-percentage="59"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="59"] .progress-left .progress-bar {
  animation: loading-9 0.5s linear forwards 0.5s;
}

.progress[data-percentage="60"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="60"] .progress-left .progress-bar {
  animation: loading-10 0.5s linear forwards 0.5s;
}

.progress[data-percentage="61"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="61"] .progress-left .progress-bar {
  animation: loading-11 0.5s linear forwards 0.5s;
}

.progress[data-percentage="62"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="62"] .progress-left .progress-bar {
  animation: loading-12 0.5s linear forwards 0.5s;
}

.progress[data-percentage="63"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="63"] .progress-left .progress-bar {
  animation: loading-13 0.5s linear forwards 0.5s;
}

.progress[data-percentage="64"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="64"] .progress-left .progress-bar {
  animation: loading-14 0.5s linear forwards 0.5s;
}

.progress[data-percentage="65"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="65"] .progress-left .progress-bar {
  animation: loading-15 0.5s linear forwards 0.5s;
}

.progress[data-percentage="66"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="66"] .progress-left .progress-bar {
  animation: loading-16 0.5s linear forwards 0.5s;
}

.progress[data-percentage="67"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="67"] .progress-left .progress-bar {
  animation: loading-17 0.5s linear forwards 0.5s;
}

.progress[data-percentage="68"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="68"] .progress-left .progress-bar {
  animation: loading-18 0.5s linear forwards 0.5s;
}

.progress[data-percentage="69"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="69"] .progress-left .progress-bar {
  animation: loading-19 0.5s linear forwards 0.5s;
}

.progress[data-percentage="70"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="70"] .progress-left .progress-bar {
  animation: loading-20 0.5s linear forwards 0.5s;
}

.progress[data-percentage="71"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="71"] .progress-left .progress-bar {
  animation: loading-21 0.5s linear forwards 0.5s;
}

.progress[data-percentage="72"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="72"] .progress-left .progress-bar {
  animation: loading-22 0.5s linear forwards 0.5s;
}

.progress[data-percentage="73"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="73"] .progress-left .progress-bar {
  animation: loading-23 0.5s linear forwards 0.5s;
}

.progress[data-percentage="74"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="74"] .progress-left .progress-bar {
  animation: loading-24 0.5s linear forwards 0.5s;
}

.progress[data-percentage="75"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="75"] .progress-left .progress-bar {
  animation: loading-25 0.5s linear forwards 0.5s;
}

.progress[data-percentage="76"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="76"] .progress-left .progress-bar {
  animation: loading-26 0.5s linear forwards 0.5s;
}

.progress[data-percentage="77"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="77"] .progress-left .progress-bar {
  animation: loading-27 0.5s linear forwards 0.5s;
}

.progress[data-percentage="78"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="78"] .progress-left .progress-bar {
  animation: loading-28 0.5s linear forwards 0.5s;
}

.progress[data-percentage="79"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="79"] .progress-left .progress-bar {
  animation: loading-29 0.5s linear forwards 0.5s;
}

.progress[data-percentage="80"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="80"] .progress-left .progress-bar {
  animation: loading-30 0.5s linear forwards 0.5s;
}

.progress[data-percentage="81"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="81"] .progress-left .progress-bar {
  animation: loading-31 0.5s linear forwards 0.5s;
}

.progress[data-percentage="82"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="82"] .progress-left .progress-bar {
  animation: loading-32 0.5s linear forwards 0.5s;
}

.progress[data-percentage="83"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="83"] .progress-left .progress-bar {
  animation: loading-33 0.5s linear forwards 0.5s;
}

.progress[data-percentage="84"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="84"] .progress-left .progress-bar {
  animation: loading-34 0.5s linear forwards 0.5s;
}

.progress[data-percentage="85"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="85"] .progress-left .progress-bar {
  animation: loading-35 0.5s linear forwards 0.5s;
}

.progress[data-percentage="86"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="86"] .progress-left .progress-bar {
  animation: loading-36 0.5s linear forwards 0.5s;
}

.progress[data-percentage="87"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="87"] .progress-left .progress-bar {
  animation: loading-37 0.5s linear forwards 0.5s;
}

.progress[data-percentage="88"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="88"] .progress-left .progress-bar {
  animation: loading-38 0.5s linear forwards 0.5s;
}

.progress[data-percentage="89"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="89"] .progress-left .progress-bar {
  animation: loading-39 0.5s linear forwards 0.5s;
}

.progress[data-percentage="90"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="90"] .progress-left .progress-bar {
  animation: loading-40 0.5s linear forwards 0.5s;
}

.progress[data-percentage="91"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="91"] .progress-left .progress-bar {
  animation: loading-41 0.5s linear forwards 0.5s;
}

.progress[data-percentage="92"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="92"] .progress-left .progress-bar {
  animation: loading-42 0.5s linear forwards 0.5s;
}

.progress[data-percentage="93"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="93"] .progress-left .progress-bar {
  animation: loading-43 0.5s linear forwards 0.5s;
}

.progress[data-percentage="94"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="94"] .progress-left .progress-bar {
  animation: loading-44 0.5s linear forwards 0.5s;
}

.progress[data-percentage="95"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="95"] .progress-left .progress-bar {
  animation: loading-45 0.5s linear forwards 0.5s;
}

.progress[data-percentage="96"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="96"] .progress-left .progress-bar {
  animation: loading-46 0.5s linear forwards 0.5s;
}

.progress[data-percentage="97"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="97"] .progress-left .progress-bar {
  animation: loading-47 0.5s linear forwards 0.5s;
}

.progress[data-percentage="98"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="98"] .progress-left .progress-bar {
  animation: loading-48 0.5s linear forwards 0.5s;
}

.progress[data-percentage="99"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="99"] .progress-left .progress-bar {
  animation: loading-49 0.5s linear forwards 0.5s;
}

.progress[data-percentage="100"] .progress-right .progress-bar {
  animation: loading-50 0.5s linear forwards;
}

.progress[data-percentage="100"] .progress-left .progress-bar {
  animation: loading-50 0.5s linear forwards 0.5s;
}

@keyframes loading-1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(3.6deg);
  }
}

@keyframes loading-2 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(7.2deg);
  }
}

@keyframes loading-3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(10.8deg);
  }
}

@keyframes loading-4 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(14.4deg);
  }
}

@keyframes loading-5 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(18deg);
  }
}

@keyframes loading-6 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(21.6deg);
  }
}

@keyframes loading-7 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(25.2deg);
  }
}

@keyframes loading-8 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(28.8deg);
  }
}

@keyframes loading-9 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(32.4deg);
  }
}

@keyframes loading-10 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(36deg);
  }
}

@keyframes loading-11 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(39.6deg);
  }
}

@keyframes loading-12 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(43.2deg);
  }
}

@keyframes loading-13 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(46.8deg);
  }
}

@keyframes loading-14 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(50.4deg);
  }
}

@keyframes loading-15 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(54deg);
  }
}

@keyframes loading-16 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(57.6deg);
  }
}

@keyframes loading-17 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(61.2deg);
  }
}

@keyframes loading-18 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(64.8deg);
  }
}

@keyframes loading-19 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(68.4deg);
  }
}

@keyframes loading-20 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(72deg);
  }
}

@keyframes loading-21 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(75.6deg);
  }
}

@keyframes loading-22 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(79.2deg);
  }
}

@keyframes loading-23 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(82.8deg);
  }
}

@keyframes loading-24 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(86.4deg);
  }
}

@keyframes loading-25 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}

@keyframes loading-26 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(93.6deg);
  }
}

@keyframes loading-27 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(97.2deg);
  }
}

@keyframes loading-28 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(100.8deg);
  }
}

@keyframes loading-29 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(104.4deg);
  }
}

@keyframes loading-30 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(108deg);
  }
}

@keyframes loading-31 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(111.6deg);
  }
}

@keyframes loading-32 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(115.2deg);
  }
}

@keyframes loading-33 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(118.8deg);
  }
}

@keyframes loading-34 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(122.4deg);
  }
}

@keyframes loading-35 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(126deg);
  }
}

@keyframes loading-36 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(129.6deg);
  }
}

@keyframes loading-37 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(133.2deg);
  }
}

@keyframes loading-38 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(136.8deg);
  }
}

@keyframes loading-39 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(140.4deg);
  }
}

@keyframes loading-40 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(144deg);
  }
}

@keyframes loading-41 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(147.6deg);
  }
}

@keyframes loading-42 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(151.2deg);
  }
}

@keyframes loading-43 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(154.8deg);
  }
}

@keyframes loading-44 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(158.4deg);
  }
}

@keyframes loading-45 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(162deg);
  }
}

@keyframes loading-46 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(165.6deg);
  }
}

@keyframes loading-47 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(169.2deg);
  }
}

@keyframes loading-48 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(172.8deg);
  }
}

@keyframes loading-49 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(176.4deg);
  }
}

@keyframes loading-50 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.instructors {
  padding: 4rem 9rem;
}

.instructors h1 {
  font-size: 4.5rem;
  color: #5d30db;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  margin-bottom: 1rem;
}

.instructors__column__margin {
  padding: 0;
  margin: 0;
}

.instructors__box {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem 0;
}

.instructors__box h1 {
  font-size: 4.5rem;
  color: #ff9900;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
}

.instructors__box p {
  font-size: 2rem;
  color: #333366;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.partners {
  padding: 4rem 6rem 10rem;
}

.partners__box {
  margin: 2rem 3rem;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.partners__img {
  height: 100%;
}

.partners h1 {
  font-family: 'Open Sans', sans-serif;
  font-size: 4.5rem;
  color: #5d30db;
  font-weight: 700;
  margin-left: 2.5rem;
}

.partners __column__margin {
  padding: 0;
  margin: 0;
}

.promo__heading__primary {
  font-family: 'Open Sans', sans-serif;
  font-size: 2rem;
  font-weight: 700;
  color: white;
}

.promo__paragraph {
  font-size: 0.9rem;
  font-family: 'Open Sans', sans-serif;
  color: white;
}

.promo__column__margin {
  margin: 0;
  padding: 0;
}

.promo__box {
  background-color: #5d30db;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 13rem 9rem;
}

.promo__box__promo {
  padding: 0;
  background-color: transparent;
  position: relative;
}

.promo__img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.promo__content {
  position: relative;
  z-index: 10;
}

.promo__video__box {
  border-radius: 160px 8px 8px 8px;
  background: url("~assets/images/about/video.png");
  height: 27.5rem;
  width: 38rem;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: contain;
  position: absolute;
  left: -5rem;
  top: 2rem;
}

.controlButton {
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;
}

.controlButtonSubmit {
  background-color: #5d30db;
}

.controlButtonSubmit:hover, .controlButtonSubmit:active {
  background-color: #4d25bb;
}

.controlButtonCancel {
  background-color: red;
  color: white;
}

.controlButtonCancel:hover, .controlButtonCancel:active {
  background-color: #c90e0e;
}

.inputControl {
  position: relative;
}

.inputControl input,
.inputControl textarea {
  display: block;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  border: 2px solid #ccc;
  padding: 0.5rem 1.2rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  background-color: transparent;
}

.inputControl input:focus,
.inputControl textarea:focus {
  background-color: #eaeef3;
  outline: none;
}

.inputControl__hidden {
  visibility: hidden;
}

.inputControl label {
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  font-size: 16.5px;
  background-color: transparent;
  padding: 0.5rem 1.2rem;
  border-radius: 5px;
  color: #b6b3b3;
  border: 2px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.inputControl label span:last-child {
  height: 100%;
  border-left: 2px solid #ccc;
  padding: 0 1.2rem;
}

.description__container {
  padding: 3rem 1rem 2rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.description__container h1 {
  font-weight: 600;
  font-size: 42px;
  color: #333366;
  margin-bottom: 1rem;
}

.description__container ul {
  list-style: none;
}

.description__container ul li {
  font-size: 18px;
  margin-bottom: 0.3rem;
}

.description__container ul li::before {
  content: '\2022';
  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: #ff9900;
  /* Change the color */
  font-weight: bold;
  /* If you want it to be bold */
  display: inline-block;
  /* Needed to add space between the bullet and the text */
  width: 3em;
  /* Also needed for space (tweak if needed) */
  margin-right: -2em;
  /* Also needed for space (tweak if needed) */
}

.introduction__container {
  padding: 0 0 2rem;
}

.introduction__content {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #333366;
  margin-bottom: 3.5rem;
}

.introduction__content h1 {
  font-weight: 600;
  font-size: 42px;
  margin-bottom: 1rem;
}

.introduction__content p {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 1rem;
}

.introduction__info {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #333366;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1.5rem 1.5rem 0;
  background: rgba(196, 196, 196, 0.5);
  border-radius: 2px;
  padding: 1rem 1rem;
}

.introduction__icons {
  font-size: 20px;
}

.introduction__iconss {
  margin-right: 0.5rem;
  font-size: 30px;
}

.introduction__button {
  margin: 0 1.5rem 1.5rem 0;
}

.introduction__link, .introduction__link:visited {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: 600;
  text-decoration: none;
  font-size: 20px;
  margin-top: 3.2rem;
  border-radius: 4px;
  padding: 1rem 1rem;
  text-align: center;
  display: block;
  transition: all 0.2s;
}

.introduction__link:hover {
  transform: translateY(-0.3rem);
  text-decoration: none;
}

.introduction__link:active {
  transform: translateY(-0.1rem);
}

.introduction__link1 {
  background-color: #5d30db;
  box-shadow: 0px 16px 24px rgba(93, 48, 219, 0.24);
  color: white;
}

.introduction__link1:hover {
  color: white;
}

.introduction__link2:hover {
  color: #5d30db;
}

.introduction__link2 {
  border: 1px solid #5d30db;
  color: #5d30db;
  filter: drop-shadow(0px 16px 24px rgba(93, 48, 219, 0.24));
  background-color: transparent;
}

.video__container {
  display: flex;
  justify-content: flex-end;
}

.video__wrapper {
  max-width: 24rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  background-color: white;
  box-shadow: 0px 15px 25px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  overflow: hidden;
}

.video__promo {
  width: 100%;
  height: 12.5rem;
  background-image: url("~assets/images/courses/promo.png");
  background-size: cover;
  background-repeat: no-repeat;
  margin-bottom: 1rem;
}

.video__price {
  padding: 1.6rem 1.6rem 0.3rem 1.6rem;
  font-style: normal;
}

.video__price h1 {
  font-weight: 600;
  font-size: 42px;
  color: #333366;
  margin-bottom: 1.8rem;
}

.video__price p {
  text-align: center;
  color: #333366;
}

.video__content {
  padding: 1.6rem;
}

.video__button, .video__button:link, .video__button:visited {
  text-decoration: none;
  width: 100%;
  padding: 1rem;
  display: block;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 1rem;
  box-shadow: 0px 16px 24px rgba(255, 153, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  transition: all 0.2s;
}

.video__button:hover {
  transform: translateY(-0.3rem);
}

.video__button:active {
  transform: translateY(-0.1rem);
}

.video__button1 {
  background-color: #ff9900;
  color: white;
}

.video__button2 {
  color: #ff9900;
  background-color: transparent;
  border: 2px solid #ff9900;
}

.video__content {
  color: #333366;
}

.video__content h3 {
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 1rem;
}

.video__content p {
  font-size: 16px;
}

.video__list {
  list-style: inside;
}

.video__list li {
  font-size: 14px;
  margin-bottom: 0.7rem;
}

.form__container {
  background-color: transparent;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
}

.form__switch__box {
  padding: 0;
  border: 2px solid #ccc;
}

.form__switch__box1 {
  border-right: none;
}

.form__swith__btn {
  background-color: transparent;
  width: 100%;
  padding: 1.2rem 3rem;
  font-weight: 600;
  font-size: 18px;
  border: none;
  color: rgba(0, 0, 0, 0.5);
  transition: all 0.2s;
}

.form__swith__btn:hover {
  background-color: #eaeef3;
}

.form__swith__btn:focus {
  outline: none;
}

.form__search {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 3rem;
}

.form__search button {
  background-color: white;
  padding: 0.6rem 1rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 17rem;
  border-radius: 5px;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
  font-weight: 600;
  font-size: 16px;
  color: #333366;
  transition: all 0.2s;
}

.form__search button:hover {
  background-color: #f3f3f3;
}

.form__search button:focus {
  outline: none;
}

.form__search__img {
  height: 2.1rem;
  float: left;
  margin-right: 1rem;
}

.form__wrapper {
  padding: 2.5rem 3.75rem;
  border-radius: 0 0 5px 5px;
  color: #111111;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
}

.form__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
}

.form__content h1 {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 1rem;
}

.form__button h4 {
  font-weight: 600;
  font-size: 18px;
  text-align: center;
  color: #5d30db;
  margin: 2rem 0;
}

.form__content__p {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

.form__button p {
  text-align: left;
  font-size: 14px;
  margin-bottom: 2.5rem;
}

.form__button {
  text-align: center;
}

.form__line {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.form__line div {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
}

.form__wrapper {
  padding: 2.5rem 3.75rem;
  background-color: transparent;
  border-radius: 5px;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #111111;
  border: 2px solid #ccc;
}

.form__content {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3.8rem;
}

.form__content h1 {
  font-weight: 600;
  font-size: 36px;
  margin-bottom: 1rem;
}

.form__button p {
  text-align: left;
  font-size: 14px;
  margin-bottom: 2.5rem;
}

.form__button {
  text-align: center;
}

.form__p {
  font-weight: normal;
  font-size: 18px;
  text-align: center;
}

.instructors__content {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #333366;
  padding: 3rem 8.2rem 6.75rem;
}

.instructors__content h2 {
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 1.5rem;
}

.instructors__content ul {
  color: #333366;
  list-style: inside;
}

.instructors__content li {
  font-weight: normal;
  font-size: 18px;
  margin-bottom: 0.6rem;
}

.header__instructor__container {
  background-image: url("~assets/images/instructor/instructor.png");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 7.9rem 8.2rem 12.2rem;
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #333366;
}

.header__instructor__container h1 {
  margin-left: 43%;
  font-weight: bold;
  font-size: 32px;
}

.header__instructor__container p {
  margin-left: 43%;
  font-weight: 600;
  font-size: 26px;
  margin-bottom: 3rem;
}

.header__instructor__link, .header__instructor__link:link, .header__instructor__link:visited {
  display: inline-block;
  font-size: 18px;
  text-decoration: none;
  color: white;
  background-color: #ff9900;
  box-shadow: 0px 0px 18px rgba(255, 153, 0, 0.6);
  border-radius: 4px;
  text-align: center;
  padding: 0.6rem 3rem;
  transition: all 0.2s;
  margin-left: 43%;
}

.header__instructor__link:hover {
  transform: translateY(-0.3rem);
}

.header__instructor__link:active {
  transform: translateY(-0.1rem);
}

.process__container {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  padding: 0 8.2rem 6.75rem;
}

.process__wrapper {
  position: relative;
}

.process__wrapper h1 {
  font-weight: 600;
  font-size: 32px;
  text-align: center;
  color: #5d30db;
  margin-bottom: 4.2rem;
}

.process__dotes {
  border-style: none none dotted;
  border-color: rgba(51, 51, 102, 0.45);
  border-width: 15px;
  width: 45%;
  position: absolute;
  top: 33%;
  left: 27.5%;
  z-index: 5;
}

.process__box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 1rem 3rem;
  z-index: 100;
  position: relative;
}

.process__box h3 {
  font-size: 18px;
  color: #333366;
  margin-bottom: 2rem;
}

.process__box span {
  font-weight: 600;
  font-size: 38px;
  color: #333366;
  margin-bottom: 3.6rem;
  padding: 2rem 3rem;
  border-radius: 50%;
  box-shadow: 2px 4px 25px rgba(54, 54, 54, 0.12);
  background-color: white;
}

.process__box p {
  text-align: center;
  color: #333366;
  font-size: 14px;
}

.pricing__row {
  margin-bottom: 10rem;
}

.pricing__box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 8rem;
}

.pricing__box h1 {
  font-family: 'Open Sans', sans-serif;
  color: 333366;
  font-size: 3rem;
  font-weight: bold;
}

.pricing__dropdown p {
  font-family: 'Open Sans', sans-serif;
  color: 333366;
  font-weight: bold;
  font-size: 1.125rem;
  margin-bottom: 0.4rem;
}

.pricing__card {
  font-family: 'Open Sans', sans-serif;
  margin: 0 1rem 3rem;
  background-color: white;
  border-radius: 30px;
  box-shadow: 0px 15px 50px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}

.pricing__active__card {
  transform: scale(1.2, 1.3);
}

.pricing__tarif {
  background-color: #5d30db;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  font-style: normal;
  font-weight: bold;
  font-size: 1.75rem;
  color: white;
}

.pricing__content {
  font-style: normal;
  font-weight: normal;
  font-size: 22.9687px;
  padding: 1.25rem 3.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pricing__price {
  padding: 1.25rem 3.875rem;
  display: flex;
  justify-content: center;
  position: relative;
  align-items: baseline;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  color: #202020;
}

.pricing__price span:nth-child(1) {
  position: absolute;
  top: 16%;
  left: 23%;
}

.pricing__price span:nth-child(2) {
  font-size: 69.1743px;
  line-height: 94px;
  color: #333366;
  font-weight: bold;
}

.pricing__price span:nth-child(4) {
  position: absolute;
  top: 19%;
  left: 52%;
}

.pricing__button__box {
  text-align: center;
}

.pricing__button, .pricing__button:link, .pricing__button:visited {
  display: inline-block;
  margin: 2rem 0 5rem;
  color: #5d30db;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  font-weight: 600;
  border: 2px solid #5d30db;
  padding: 0.5rem 3rem;
  border-radius: 6px;
  transition: all 0.2s;
}

.pricing__button:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.25);
}

.pricing__button:active {
  transform: translateY(-0.1rem);
}

.pricing__active__button, .pricing__active__button:link, .pricing__active__button:visited {
  background: #ff9900;
  color: white;
  border: none;
}

.pricing__details__box {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  font-weight: bold;
  margin: 0 1rem;
}

.pricing__details__box h3 {
  font-size: 18px;
  color: #202020;
  margin-bottom: 0.7rem;
}

.pricing__details__list {
  list-style: none;
}

.pricing__details__item {
  margin-bottom: 0.5rem;
  font-size: 14px;
  color: #333366;
}

.pricing__details__item .check {
  font-size: 14px;
  color: #333366;
  margin-right: 0.4rem;
}

.pricing__details__item .check__gold {
  font-size: 14px;
  color: #ff9900;
  margin-right: 0.4rem;
}

@media only screen and (max-width: 56em) {
  .signInPage {
    padding: 3.2rem 15rem 10rem !important;
  }
}

.section-1-wrapper {
  position: relative;
}

.section-1-wrapper::after {
  position: absolute;
  content: '';
  top: -8%;
  left: 0;
  width: 20%;
  height: 40%;
  background: url("~assets/images/shape.png");
  background-repeat: no-repeat;
}

.section-1-wrapper::before {
  position: absolute;
  content: '';
  top: -5%;
  right: -5%;
  width: 23%;
  height: 30%;
  background: url("~assets/images/shape1.png");
  background-repeat: no-repeat;
}

.section-1-wrapper .text-h1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 64px;
  line-height: 100%;
  color: #333366;
}

.section-1-wrapper .man-image {
  z-index: 10;
  transform: translate(-8%, -10%);
}

.section-1-wrapper .content {
  position: relative;
  z-index: 10;
  margin-top: 6%;
  margin-left: 4%;
  display: flex;
  flex-direction: column;
  padding: 2rem 2rem;
}

.section-1-wrapper .content::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 304px;
  height: 261px;
  background: #ff9900;
  border-radius: 4px 80px 4px 25px;
  z-index: -1;
}

.section-1-wrapper .content::before {
  content: '';
  position: absolute;
  top: 4%;
  left: -6%;
  width: 304px;
  height: 261px;
  background: transparent;
  border: 3px solid #333366;
  border-radius: 4px 80px 4px 25px;
  z-index: -1;
}

.section-1-wrapper .content-title {
  font-family: Oswald;
  font-style: normal;
  font-weight: bold;
  font-size: 43.7296px;
  line-height: 104.5%;
  color: #ffffff;
  margin-bottom: 1rem;
}

.section-1-wrapper .content-context {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 107.5%;
  color: #333366;
}

.section-2-wrapper {
  position: relative;
  overflow: hidden;
}

.section-2-wrapper::after {
  position: absolute;
  content: '';
  width: 70px;
  height: 70px;
  bottom: -5%;
  right: 2%;
  border-radius: 50%;
  background: #64edbf;
}

.section-2-wrapper .text-h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 27.7895px;
  line-height: 38px;
  color: #ff9900;
}

.section-2-wrapper .text-h1-span {
  font-size: 29.7895px;
  font-weight: 700;
  color: #333366;
}

.section-3 {
  height: 100%;
  position: relative;
  padding-bottom: 3rem !important;
}

.section-3 .image {
  width: 80%;
  margin: auto;
}

.section-3::after {
  position: absolute;
  content: '';
  top: 15%;
  left: -10%;
  width: 303px;
  height: 303px;
  background: rgba(100, 237, 191, 0.1);
  border-radius: 50%;
}

.section-3::before {
  position: absolute;
  content: '';
  top: 30%;
  right: -2%;
  width: 70px;
  height: 70px;
  border: 11px solid #ff9900;
  box-sizing: border-box;
  border-radius: 50%;
}

.section-3 .header-title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 152%;
  text-align: center;
  color: #333366;
  position: relative;
}

.section-3 .header-title::after {
  content: '';
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  top: 25%;
  left: -5%;
  border: 7px solid #ff9900;
  box-sizing: border-box;
}

.section-3 .text-h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 152%;
  text-align: center;
  color: #333366;
}

.section-3 .text-paragraph {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 127.5%;
  color: #333366;
}

.section-3 .circle {
  background: #ffffff;
  box-shadow: inset -2px -2px 5px rgba(100, 106, 112, 0.15), inset 2px 2px 5px rgba(100, 106, 112, 0.15);
  border-radius: 50%;
  width: 103px;
  height: 103px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-3 .inner-set {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  background: #ffffff;
  box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.25);
  border-radius: 15px;
  border-radius: 50%;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  font-size: 38px;
  line-height: 152%;
  text-align: center;
  color: #333366;
}

.section-4 {
  background: #5d30db;
}

.section-4 .progress-google {
  background: transparent;
  width: 100%;
  height: 100%;
  position: relative;
}

.section-4 .progress-google > div:nth-child(1) {
  width: 140px;
  height: 48px;
  background: #333366;
}

.section-4 .progress-google div:nth-child(2) {
  width: 109px;
  height: 94px;
  background: #33337b;
}

.section-4 .progress-google div:nth-child(3) {
  width: 109px;
  height: 138px;
  background: #383897;
}

.section-4 .progress-google div:nth-child(4) {
  width: 109px;
  height: 176px;
  background: #292996;
}

.section-4 .progress-google div:nth-child(5) {
  width: 103px;
  height: 230px;
  background: #202084;
}

.section-4 .row .col-md-4 {
  color: #ffffff;
}

.section-4 .text-h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 60px;
  line-height: 122.5%;
  color: #ffc700;
}

.section-4 .text-h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 122.5%;
  color: #ffffff;
}

.section-4 .text-paragraph {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 122.5%;
  color: #ffffff;
}

.section-4 .btn-quiz {
  background: #ff9900;
  border-radius: 3px;
  height: 45px;
  color: #ffffff;
  outline: none;
}

.section-4 .btn-quiz:hover {
  color: #ff9900;
  background: #ffffff;
  transition: all 0.2s linear;
  transform: translateY(-3px);
}

.section-4 .btn-quiz:active {
  transform: translateY(0px);
}

.section-4 .google-image {
  width: 204px;
  height: 214px;
}

.section-5 {
  padding-top: 3rem !important;
  padding-bottom: 3rem !important;
}

.section-5 .cart {
  padding: 1.5rem 1.5rem;
  transition: all 0.2s ease;
}

.section-5 .text-h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 44px;
  line-height: 60px;
  color: #333366;
}

.section-5 .text-h2 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #333366;
}

.section-5 .text-paragraph {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
}

.section-5 .btn-know-more {
  background: #5d30db;
  border-radius: 4px;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: #f3f8ff;
  margin-top: 2rem;
}

.section-6 {
  background: #5d30db;
  padding-top: 5rem !important;
  padding-bottom: 4rem !important;
  position: relative;
  overflow: hidden;
}

.section-6 .image-ellipse {
  position: absolute;
  width: 464px;
  height: 464px;
  bottom: -70% !important;
  left: 0 !important;
  background-image: url("~assets/images/Ellipse.png");
  background-repeat: no-repeat;
}

.section-6 .text-h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  text-align: center;
  color: #ffffff;
}

.section-6 .text-paragraph {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
}

.section-6 .btn-outline-light {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  padding: 0.5rem 6rem;
  margin: 2rem auto;
}

.section-7 {
  min-height: 100vh;
  /* for temporary height */
}

.section-7 .text-h1 {
  font-family: Open Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 65px;
  text-align: center;
  color: #333366;
}

.section-7 .text-h1-rotate {
  font-family: 'Londrina Outline', cursive;
  font-style: normal;
  color: #ccc;
  font-weight: 400;
  font-size: 100px;
  line-height: 136px;
  transform: rotate(-90deg);
}

.app-footer {
  background: #f3f8ff;
  height: 100%;
}

.app-footer .map-yandex {
  position: relative;
  padding: 0;
  width: 320px;
  height: 320px;
}

.app-footer .footer-map {
  width: 100%;
  height: 100%;
  border: 10px solid #ffffff;
  border-radius: 50%;
  overflow: hidden;
  border-radius: 50%;
  position: absolute;
  bottom: 0;
  left: 0;
}

.app-footer section.ymap-container {
  width: 100%;
  height: 100%;
}

.app-footer .text-h1 {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
  color: #333366;
  margin: 3rem auto 2rem auto;
}

.app-footer ul li {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 21px;
  color: rgba(51, 51, 102, 0.6);
}

.app-footer .social-icons li a {
  width: 25.2px;
  height: 25.2px;
  border-radius: 2.88px;
  background: #5d30db;
  color: white;
  padding: 0.2rem 0.4rem;
}
/*# sourceMappingURL=main.css.map */