.controlButton {
  font-size: 1rem;
  color: white;
  padding: 0.5rem 1.2rem;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  text-align: center;

  &Submit {
    background-color: #5d30db;
  }

  &Submit:hover,
  &Submit:active {
    background-color: #4d25bb;
  }

  &Cancel {
    background-color: red;
    color: white;
  }

  &Cancel:hover,
  &Cancel:active {
    background-color: #c90e0e;
  }
}
