.inputControl {
  position: relative;
  & input,
  & textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    border: 2px solid $dark_white;
    padding: 0.2rem 1.2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: transparent;
  }

  & input:focus,
  & textarea:focus {
    background-color: $tertiary_white;
    outline: none;
  }

  &__file {
    background-color: transparent;
    border: 2px solid $dark_white;
    border-radius: 5px;
  }

  &__file:focus {
    background-color: $tertiary_white;
    outline: none;
  }
}
