.input-control {
    position: relative;
    & input,
    & textarea {
      display: block;
      width: 100%;
      box-sizing: border-box;
      font-family: inherit;
      border: 2px solid #ccc;
      padding: 0.5rem 1.2rem;
      margin-bottom: 1rem;
      border-radius: 5px;
      background-color: transparent;
    }
    
    & input:focus,
    & textarea:focus {
      background-color: #eaeef3;
      outline: none;
    }
  }
  

  
  .hidden {
    visibility: hidden;
  }
  
  label {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    font-size: 16.5px;
    background-color: transparent;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    color: #b6b3b3;
    border: 2px solid #ccc;
    display: flex;
    justify-content: space-between;
  }
  
  span:last-child {
    height: 100%;
    border-left: 2px solid #ccc;
    padding: 0 1.2rem;
  }