.inputControl {
  position: relative;
  & input,
  & textarea {
    display: block;
    width: 100%;
    box-sizing: border-box;
    font-family: inherit;
    border: 2px solid $dark_white;
    padding: 0.5rem 1.2rem;
    margin-bottom: 1rem;
    border-radius: 5px;
    background-color: transparent;
  }

  & input:focus,
  & textarea:focus {
    background-color: $tertiary_white;
    outline: none;
  }

  &__hidden {
    visibility: hidden;
  }

  & label {
    position: absolute;
    top: 10%;
    left: 0;
    width: 100%;
    font-size: 16.5px;
    background-color: transparent;
    padding: 0.5rem 1.2rem;
    border-radius: 5px;
    color: $light_white;
    border: 2px solid $dark_white;
    display: flex;
    justify-content: space-between;
  }

  & label span:last-child {
    height: 100%;
    border-left: 2px solid $dark_white;
    padding: 0 1.2rem;
  }
}
