.partners {
  padding: 4rem 6rem 10rem;
  &__box {
    margin: 2rem 3rem;
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &__img {
    height: 100%;
  }

  & h1 {
    font-family: $sans;
    font-size: 4.5rem;
    color: $light_blue;
    font-weight: 700;
    margin-left: 2.5rem;
  }

  &__column__margin {
    padding: 0;
    margin: 0;
  }
}
