.promo {
  &__container {
  }

  &__short__video {
    position: relative;
    z-index: 20;
    & .video-js {
      border-radius: 160px 8px 8px 8px;
      position: absolute;
      top: 8rem;
      left: -5rem;
      object-fit: cover;
    }
  }

  &__heading__primary {
    font-family: $sans;
    font-size: 2rem;
    font-weight: 700;
    color: $white;
  }

  &__paragraph {
    font-size: 0.9rem;
    font-family: $sans;
    color: $white;
  }

  &__column__margin {
    margin: 0;
    padding: 0;
  }

  &__box {
    background-color: $light_blue;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 13rem 9rem;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }

  &__content {
    position: relative;
    z-index: 20;
  }
}
