.form {
  &__container {
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
  }

  &__switch__box {
    padding: 0;
    border: 2px solid #ccc;
  }

  &__switch__box1 {
    border-right: none;
  }

  &__swith__btn {
    background-color: transparent;
    width: 100%;
    padding: 1.2rem 3rem;
    font-weight: 600;
    font-size: 18px;
    border: none;
    color: rgba(0, 0, 0, 0.5);
    transition: all 0.2s;
  }

  &__swith__btn:hover {
    background-color: #eaeef3;
  }

  &__swith__btn:focus {
    outline: none;
  }

  &__search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 3rem;
  }

  &__search button {
    background-color: white;
    padding: 0.6rem 1rem;
    margin-bottom: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 17rem;
    border-radius: 5px;
    box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 16px;
    color: #333366;
    transition: all 0.2s;
  }

  &__search button:hover {
    background-color: #f3f3f3;
  }

  &__search button:focus {
    outline: none;
  }

  &__search__img {
    height: 2.1rem;
    float: left;
    margin-right: 1rem;
  }

  &__wrapper {
    padding: 2.5rem 3.75rem;
    border-radius: 0 0 5px 5px;
    color: #111111;
    border-left: 2px solid #ccc;
    border-right: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
  }

  &__content {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 3rem;
  }

  &__content h1 {
    font-weight: 600;
    font-size: 36px;
    margin-bottom: 1rem;
  }

  &__button h4 {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    color: #5d30db;
    margin: 2rem 0;
  }

  &__content__p {
    font-weight: normal;
    font-size: 18px;
    text-align: center;
  }

  &__button p {
    text-align: left;
    font-size: 14px;
    margin-bottom: 2.5rem;
  }

  &__button {
    text-align: center;
  }

  &__line {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__line div {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    width: 100%;
  }
}
