.instructors__content {
  font-family: 'Open Sans', sans-serif;
  font-style: normal;
  color: #333366;
  padding: 3rem 8.2rem 6.75rem;

  & h2 {
    font-weight: 600;
    font-size: 26px;
    margin-bottom: 1.5rem;
  }

  & ul {
    color: #333366;
    list-style: inside;
  }

  & li {
    font-weight: normal;
    font-size: 18px;
    margin-bottom: 0.6rem;
  }
}
